.form-insert-client {
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-self: center;
    text-align: start;

    .image-placeholder {
        input {
            opacity: 0;
            border-radius: 150px;
            z-index: 2;
        }

        img {
            position: absolute;
            height: 9rem;
            width: 9rem;
            border-radius: 150px;
            border: 1px solid black;
            z-index: 1;
        }

        svg {
            position: absolute;
            width: 2rem;
            align-self: center;
            z-index: 0;
        }
    }

    .client-info-insert {
        display: grid;
        grid-template-areas:
            "nombre dni"
            "email telefono"
            "pago pago";
        grid-gap: 1rem;

        .nombre {
            grid-area: nombre;
        }

        .dni {
            grid-area: dni;
        }

        .email {
            grid-area: email;
        }

        .telefono {
            grid-area: telefono;
        }

        .pago {
            grid-area: pago;
        }
    }

    button {
        margin-top: 2rem;
        width: 16rem;
        align-self: center;
    }
}
