.container-50 > .img-help {
    background-image: url("https://images.unsplash.com/photo-1610988576886-eff7b006fb58?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 30rem !important;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
