.main-header {
    width: 52vw;
}

.bg-gradient-index {
    background-image: url("../images/bg-gradient.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}