.section-login {
    display: flex;
    height: 100vh;
    width: 100%;

    .login-img {
        img {
            width: 462px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10rem;
    gap: 1rem;

    .form {
        width: 29rem;
    }

    h1 {
        font-weight: bold !important;
        align-self: center;
        padding-top: 5rem;
    }

    button {
        width: 100%;
        align-self: center;
        padding: 0.5rem 0rem;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;

        .password {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                color: gray;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        label {
            margin-bottom: 0.5rem;
            color: black;
            font-weight: 500;
        }
    }
}

@media (max-width: 992px) {
    .login-form {
        width: 100%;
        padding: 8rem 2rem;
    }

    .login-img {
        display: none;
    }
}

@media (max-width: 576px) {
    .form {
        width: 100% !important;
    }
}
