@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* TODO Pasar todos los estilos a un archivo a parte. */
/* FIXME Posible error para el icono del datetime: */
* {
    font-family: "Inter", sans-serif !important;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 500;
}

.display-1 {
    font-size: 88px;
    letter-spacing: -5px;
    line-height: 82px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    margin-top: 25px;
    color: gray;
    width: 30vw;
    align-self: center;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.61) !important;
    backdrop-filter: blur(20px) !important;
}

code {
    font-family: monospace !important;
}

.logo-text {
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

.welcome-text {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.btn-reservar {
    width: 12rem;
    align-self: center;
}

.pfp-nav {
    transform: translate(-120px);
    margin-top: 0.6rem !important;
}

.img-help {
    height: 30rem !important;
}

.text-gradient {
    background-image: linear-gradient(to right, rgb(126, 208, 255) 0%, #142588 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    height: 145rem;
    background-color: white;
    margin-top: 5rem;
    width: 80vw;
    align-self: center;
    border-radius: 25px 25px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.help-content,
.login-form,
.reservation-form {
    align-self: center !important;
    background-color: rgba(255, 255, 255, 0.61) !important;
    backdrop-filter: blur(20px) !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 15px;
    margin: 9rem;
}

.container-50 > .img-help {
    background-image: url("https://images.unsplash.com/photo-1610988576886-eff7b006fb58?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form,
.reservation-form {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
    padding: 0rem 8rem;
}

.login-form > button {
    width: 9rem;
}

.section-login,
.section-reservation {
    height: 100dvh;
    background: rgb(170, 254, 250);
    background: -moz-radial-gradient(circle, rgba(170, 254, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(170, 254, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: radial-gradient(circle, rgba(170, 254, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aafefa",endColorstr="#ffffff",GradientType=1);
}

/* hacer que la toast se muestre abajo a la derecha */
.toast {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.main-header {
    width: 52vw;
}

.bg-gradient-index {
    background-image: url("../images/bg-gradient.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

@media (max-width: 992px) {
    .pfp-nav {
        transform: translate(0px);
    }

    .main-header {
        width: 90vw;
    }

    .subtext {
        width: 80vw;
    }

    .help-content,
    .login-form,
    .reservation-form {
        width: 90% !important;
        padding: 1rem;
    }
}

/* media querys de las fuentes */
@media (max-width: 768px) {
    .display-1 {
        font-size: 64px;
        letter-spacing: -3px;
        line-height: 62px;
        font-weight: bold;
    }

    .display-2 {
        font-size: 48px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-3 {
        font-size: 36px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-4 {
        font-size: 24px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-5 {
        font-size: 18px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }
}

@media (max-width: 576px) {
    .display-1 {
        font-size: 48px;
        letter-spacing: -3px;
        line-height: 52px;
        font-weight: bold;
    }

    .display-2 {
        font-size: 36px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-3 {
        font-size: 24px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-4 {
        font-size: 18px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .display-5 {
        font-size: 14px;
        letter-spacing: -5px;
        line-height: 82px;
        font-weight: bold;
    }

    .main-header {
        width: 100%;
    }
}

/* media querys para teléfonos */
