@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* TODO Pasar todos los estilos a un archivo a parte. */
/* FIXME Posible error para el icono del datetime: */
* {
    font-family: "Inter", sans-serif !important;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 500;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.61) !important;
    backdrop-filter: blur(20px) !important;
}

code {
    font-family: monospace !important;
}

.logo-text {
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

.welcome-text {
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.pfp-nav {
    transform: translate(-120px);
    margin-top: 0.6rem !important;
}

.img-help {
    height: 30rem !important;
}

.help-content,
.login-form,
.reservation-form {
    width: 50% !important;
    align-self: center !important;
}

.container-50 > .img-help {
    background-image: url("https://images.unsplash.com/photo-1610988576886-eff7b006fb58?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form, .reservation-form {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100%;
    padding: 0rem 12rem;
}

.login-form > button {
    width: 9rem;
}

.section-login, .section-reservation {
    height: 100dvh;
}

@media (max-width: 992px) {
    .pfp-nav {
        transform: translate(0px);
    }

    .help-content,
    .login-form,
    .reservation-form {
        width: 90% !important;
        padding: 1rem;
    }
}
